<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="userForm" (ngSubmit)="doCreate()" class="form-horizontal" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑用户信息 {{id}}</h4>
                </div>
                <div class="modal-body">

                    <div *ngIf="formErrors.formError" class="alert alert-danger" role="alert">{{ formErrors.formError }}</div>

                    <div class="form-group" [ngClass]="{'has-error': formErrors.nickName }">
                        <label class="col-sm-3 control-label">昵称</label>
                        <div class="col-sm-8">
                            <input formControlName="nickName" [(ngModel)]="userInfo.nickName" type="text" class="form-control">
                            <div *ngIf="formErrors.nickName" class="text-danger">
                                {{ formErrors.nickName }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error': formErrors.email }">
                        <label class="col-sm-3 control-label">邮箱</label>
                        <div class="col-sm-8">
                            <input formControlName="email" [(ngModel)]="userInfo.email" type="text" class="form-control">
                            <div *ngIf="formErrors.email" class="text-danger">
                                {{ formErrors.email }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error': formErrors.phone }">
                        <label class="col-sm-3 control-label">手机号</label>
                        <div class="col-sm-8">
                            <input formControlName="phone" [(ngModel)]="userInfo.phone" type="text" class="form-control">
                            <div *ngIf="formErrors.phone" class="text-danger">
                                {{ formErrors.phone }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" type="submit" [disabled]="userForm.invalid" onclick="">确认编辑</button>
                </div>
            </form>
        </div>
    </div>
</div>
