<div class="panel panel-default" style="border: none;">
    <div class="panel-heading">
        <blog-manage-nav [type]="'feedback'"></blog-manage-nav>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>