<div class="container-fluid main-container">

    <div class="page-header">
        <h1 class="text-center">
            <a class="btn-menu" (click)="isShowLeftMenu=true;"><span class="glyphicon glyphicon-menu-hamburger"></span> Menu</a>
            <a href="../home">One Project</a>
            <a *ngIf="!currentUser?.userName" class="btn-login" href="./user/login">LOG IN</a>
            <a *ngIf="currentUser?.userName" class="btn-login" (click)="doLogout()">LOG OUT</a>
        </h1>
        
    </div>

    <router-outlet></router-outlet>

    <div class="left-menu" *ngIf="isShowLeftMenu" (click)="isShowLeftMenu=false; ">
        <div style="background:rgba(255,255,255,1); width: 300px; height:100%;position:relative;" (click)="$event.stopPropagation();">
            <div class="page-header">
                <a class="btn-menu">Menu</a>
                <a class="btn-menu" style="float:right;" (click)="isShowLeftMenu=false;"> <span class="glyphicon glyphicon-remove"></span> CLOSE </a>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="./home">主页</a>
                <a class="list-group-item" href="./user">用户管理</a>
                <a class="list-group-item" href="./blog">博客管理</a>
            </div>
        </div>
    </div>

</div>
