<div class="panel panel-default" style="border: none;">
    <div class="panel-heading">
        <h1 style="margin-top: 0px; margin-bottom: 0px; line-height: 14px; font-size: 14px;">
            <strong>用户管理</strong>
            <a class="pull-right" style="font-size: 12px;" role="button" data-toggle="modal" data-target="#create-user-modal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加用户
            </a>
        </h1>
    </div>
    <div class="panel-body">
        <user-list></user-list>
    </div>
</div>

<user-create></user-create>
